%section#about
  .about-inner
    .container
      .row
        .col-md-4
          %h2 Mitch
          %p
            Lorenso, 21 Tahun. Pria tak tampan yang bercita-cita menjadi jutawan dengan modal pas-pasan.
            Hobi berenang, menolong teman, sepak bola, main futsal, main PES, dan segala sesuatu tentang bal-balan.
            Bisanya cuma nyinyir dan komentar, agak sombong tapi nggak arogan.
          %blockquote
            Cinta itu.. jika kamu bilang iya ~ waktu aku bertanya "Maukah kau menikah denganku?" #eeaaa
            %small Lorenso

        .col-md-4
          .about-img-container{:style => "background: url(assets/us_picture.jpg) center;"}
          %img.about-img.img-responsive{:src => "assets/bottom.png"}/

        .col-md-4
          %h2 Emily
          %p
            Julia, 20 Tahun. Wanita periang yang bercita-cita menjadi seorang pendidik dan pengajar.
            Murah senyum, galak, tapi sangat cengeng. Tinggi, langsing, hidung pesek dan bergingsul.
            Hobi makan es krim, mie ayam dan ngambek. Care sama temen dan pokoknya lakik #ehh.
          %blockquote
            Cinta itu.. jika kamu langsung datang kerumah dan melamarku ~ #duhh
            %small Julia
      .row
        .col-md-12
          %h2 Our Proposal Story
          %p On July 26, 2014- Mitch and Em went out for a couples massage followed by walking around Stillwater, enjoying dinner, and proposing at a park overlooking the city and river. Mitch gave Em a little black book with 10 things he only knows about her, with #10 being 'I want to be the only person who knows what it is like to marry you.' She said yes!
          %p The following Monday morning, Em was surprised yet again as she came back from a meeting to seeing pictures of their proposal for the first time and red roses. Little did Em know that their friend, Conor, was hiding at the park and captured the entire proposal. Mitch also had their friend, Luke, drop off the surprise at her desk.


