%section#about
  .about-inner
    .container
      .row
        .col-md-4
          %h2 Mitch
          %p
            Born in Green Bay, WI, to Mike and Eileen in 1984, Mitch was raised a die hard Packer fan and had a difficult time not incorporating cheeseheads into our engagement photos. He went to school at Wisconsin for Industrial Engineering and you'll meet several of his friends from his beloved fraternity Sig Ep at the wedding. He moved to Minneapolis in 2008 for his job at Deloitte. When Mitch started dating Emily, he wanted to make sure he didn't lose that amazing girl and quit his job to learn how to program, building awesome apps across the web, including this one!
          %blockquote
            Happy is the man who finds a true friend, and far happier is he who finds that true friend in his wife.
            %small Franz Schubert

        .col-md-4
          .about-img-container{:style => "background: url(assets/shadows.jpg) center;"}
          %img.about-img.img-responsive{:src => "assets/bottom.png"}/

        .col-md-4
          %h2 Emily
          %p
            Born in Loveland, OH, to Gerald and Karen in 1988. Emily grew up hanging out with her three siblings (Ellen, Michael, and Megan), making homemade music videos, running neighborhood carnivals and enjoying their neighborhood pool. She was the first University of Kentucky Wildcat in her family, graduating in 2010 with a degree in Marketing and a healthy obsession for Kentucky basketball! She moved to Minneapolis to start a career at Target and met some of her closest friends here. Emily loves the Minnie bike trails and CorePower Yoga.
          %blockquote
            Everyone looks so much better when they smile.
            %small Jimmy Fallon
      .row
        .col-md-offset-2.col-md-8
          %h2 Our Proposal Story
          %p On July 26, 2014- Mitch and Em went out for a couples massage followed by walking around Stillwater, enjoying dinner, and proposing at a park overlooking the city and river. Mitch gave Em a little black book containing 10 things he only knows about her, with #10 being 'I want to be the only person who knows what it is like to marry you.' She said yes!
          %p The following Monday morning, Em was surprised yet again as she came back from a meeting to pictures of their proposal and red roses. Little did Em know that their friend Conor was hiding at the park and captured the entire proposal.


