%section#ceremony{:style => "background: url(assets/basilica_picture.jpg);"}
  .container
    .row
      .col-md-12
        %h1 The Ceremony
        %h3
          %span Will Be Held On
        %h2 July 25, 2015


%section#guest-info
  .col-md-12
    .well
      .row
        .col-md-4.text-right
          %h3 Transportation:
      .row
        .col-md-12
          %p If you are flying in, we highly recommend using public transportation for your entire trip. Even for our guests with vehicles, we are recommending to KEEP YOUR CAR PARKED for the day of the wedding. There will be options for you to easily get you from the hotel to the ceremony, ceremony to the reception and reception to your hotel. Not to mention, if you have no car to worry about, it will be easier for you to fully enjoy the open bar at the reception. More details to come on transportation closer to the wedding date.
      .row
        .col-md-4.text-right
          %h3 Hotel:
      .row
        .col-md-12
          %p We have a block reserved at the Hyatt Regency Hotel. It's located right downtown and it was hands down the best rate we could find for you guys. Better yet, the hotel just underwent a huge renovation and the rooms look tremendous, and this is coming from someone who has spent four years on the road.
          %ul
            %li Rate: $109 / night + tax. Parking is $17 / night if you will be parking a car.
            %li
              Reservations: You can book online at our
              %a{href: "https://resweb.passkey.com/go/BuddeNick2015", target: "_blank"} custom link
              or by calling 888-421-1442.
            %li
              Address: 1300 Nicollet Mall, Minneapolis, MN 55403 -
              %a{href: "https://www.google.com/maps/place/1300+Nicollet+Mall,+Minneapolis,+MN+55403/@44.9711701,-93.2776706,15z/data=!4m2!3m1!1s0x52b332be31732c67:0x966337b2842a6069", target: "_blank"} google maps link
            %li Directions from the airport: If you have checked luggage, make sure to make it to baggage claim first. Follow signs to the "Light Rail" and board the light rail towards Minneapolis (opposite direction from the Mall of America.) The light rail coes every 10-15 minutes, so it shouldn't be too long of a wait. Take the light rail all the way downtown to the "Nicollet Mall" station. It's either an 8 block walk from here, or there are plenty of busses your fair will still be good for which will take you SW from the light rail (the left side of the train on your way in.) Really lost?? Feel free to jump into a cab here and it should be ~$5 for the fair.


      .row.col-md-4
        %h3 Wedding
      .row.col-md-12
        %p Basillica Church @ 3:00 PM
      .row
        .col-md-4.text-right
          %h3 Reception:
        .col-md-8
          %p 514 Studios following mass
