%section#ceremony{:style => "background: url(#{image_path 'basilica_picture.jpg'});"}
  .container
    .row
      .col-md-12
        %h1 The Ceremony
        %h3
          %span Will Be Held On
        %h2 July 25, 2015


%section#guest-info
  .guest-info-inner
    .container
      .row
        .col-md-6
          %h2 Ceremony
          %p The ceremony is being held at the Basilica of Saint Mary (pictured above.) We are very fortunate to be getting married in this beautiful Minneapolis landmark. We've enjoyed going to this church together, they do a tremendous job making you feel connected to others, especially for a church that is located downtown. We've also enjoyed seeing some great musicians play at their annual Basilica Block Party.
          %p There is parking located directly behind the Basilica. We are also looking into transportation from the hotel to the church and back. More information to come closer to the wedding date.
          %blockquote
            %address
              %strong Basilica of Saint Mary
              %br
              88 N 17th Street
              %br
              Minneapolis, MN 55403
              %br
              %a{href: "https://www.google.com/maps/place/88+17th+St+N,+Minneapolis,+MN+55403/@44.9730562,-93.286276,17z/data=!3m1!4b1!4m7!1m4!3m3!1s0x52b332ea29b33523:0x418e12ddbc89eadf!2sBasilica+of+Saint+Mary!3b1!3m1!1s0x52b332ea29b33523:0x9f0651c69da1974", target: "_blank"} Link

        .col-md-6
          %h2 Reception
          %p The reception is being held at 514 Studios, located in the upcoming North Loop in Minneapolis. We fell in love with this place because of the beautiful exposed brick throughout the building and the blank slate they gave us to work with. We're hoping to create a relaxed and fun atmosphere to celebrate our big day together.
          %p We're beyond excited to have a food truck coming to the wedding which serves healthy, organic, MN grown food. It may very well be the most fresh and hot food you've ever received at a wedding. Additionally, we'll be hosting an open bar for the duration of the evening with several of our favorite craft beer and cocktail selections.
          %p The reception can be a bit difficult to find, it's in the same building as Corner Coffee and Bust Out Solutions and located behind Cuzzy's Bar. A link to it on Google Maps is below.
          %blockquote
            %address
              %string 514 Studios
              %br
              514 N 3rd St #101
              %br
              Minneapolis, MN 55401
              %br
              %a{href: "https://www.google.com/maps/place/514+Studios/@44.985915,-93.2762,17z/data=!3m1!4b1!4m2!3m1!1s0x52b332894b187809:0xc984f46d74ff1f28", target: "_blank"} Link
      .row
        .col-md-12
          %h2 Hotel
          %p.text-center We have two different hotel options for you to choose from with blocks of rooms at each. Either way, we DO NOT want you bringing a car to the reception site. One of the hotels is within walking distance and the other hotel is just a $7 cab ride, rickshaw ride or uber ride away. Thanks in advance for finding a safe way home.
          .row
            .col-md-6
              %h3.text-center
                TownePlace Suites by Marriott
                %em (recommended)
              %p The hotel is located just two blocks away from the reception. You can pay to park behind the hotel, but parking is free on the streets starting at 6:00PM on Friday evening until Monday. They offer several different room options and has more space within their rooms than our other option.
              %ul
                %li Rate: Starting at $129 / night + tax. Parking is $10 / night if you decide not to leverage free parking.
                %li
                  Reservations: You can book online at our
                  %a{href: "http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Budde%20Nick%20Wedding%5Emspts%60bnwbnwa%7Cbnwbnwb%7Cbnwbnwc%60129.00-209.00%60USD%60false%607/24/15%607/26/15%606/24/15&app=resvlink&stop_mobi=yes", target: "_blank"} custom link
                  or by calling 612-215-6002.
                %li
                  Address: 525 N 2nd Street, Minneapolis, MN 55401
                  %a{href: "https://www.google.com/maps/place/TownePlace+Suites+Minneapolis+Downtown/@44.9858568,-93.2763623,15z/data=!4m5!1m2!2m1!1sTownePlace+Suites+by+Marriott!3m1!1s0x0000000000000000:0x92f970fde5fadcee", target: "_blank"} google maps link
                %li Directions from the airport: If you have checked luggage, make sure to make it to baggage claim first. Follow signs to the "Light Rail" and board the light rail towards Minneapolis (opposite direction from the Mall of America.) The light rail goes every 10-15 minutes, so it shouldn't be too long of a wait. Take the light rail all the way downtown to the last stop: Target Field Station. It's a short 5 block walk from the Rail Station to your hotel. You want to find N 5th Avenue (Note: Avenues and Streets are different in Minneapolis) and start walking on it away from the stadium. You'll go under a bridge, pass by our venue, and go past the first traffic light (Washington Street). You'll see the TownPlace Suites on your left at the next intersection (N 2nd St).
            .col-md-6
              %h3.text-center Hyatt Regency Hotel
              %p It's located right downtown and it was hands down the best rate we could find for you guys. Better yet, the hotel just underwent a huge renovation and the rooms look tremendous, and this is coming from someone who has spent four years on the road.
              %ul
                %li Rate: $109 / night + tax. Parking is $17 / night if you will be parking a car.
                %li
                  Reservations: You can book online at our
                  %a{href: "https://resweb.passkey.com/go/BuddeNick2015", target: "_blank"} custom link
                  or by calling 888-421-1442.
                %li
                  Address: 1300 Nicollet Mall, Minneapolis, MN 55403 -
                  %a{href: "https://www.google.com/maps/place/1300+Nicollet+Mall,+Minneapolis,+MN+55403/@44.9711701,-93.2776706,15z/data=!4m2!3m1!1s0x52b332be31732c67:0x966337b2842a6069", target: "_blank"} google maps link
                %li Directions from the airport: If you have checked luggage, make sure to make it to baggage claim first. Follow signs to the "Light Rail" and board the light rail towards Minneapolis (opposite direction from the Mall of America.) The light rail goes every 10-15 minutes, so it shouldn't be too long of a wait. Take the light rail all the way downtown to the "Nicollet Mall" station. It's either an 8 block walk from here, or there are plenty of buses, your light rail fair will still be good for the bus. The walk is straight down Nicollet, right as you exit the train and then turn left on Nicollet. Really lost?? Feel free to jump into a cab here and it should be ~$5 for the fair.

      .row
        .col-md-12
          %h2 Registries
          %p.text-center We're looking forward to filling our future home with classic everyday essentials from Crate and Barrel, Pottery Barn, and Amazon. The items we chose were based on lots of research and customer reviews to get a quality product that will last our lifetime together.
          .padding-10
      .row
        .col-md-4
          .registry-logo
            %a{href: "http://www.crateandbarrel.com/Gift-Registry/emily-budde/r5225882", target: "_blank"}
              = image_tag("cb_logo.jpg")
          %p At Crate and Barrel, we've selected basic kitchenware items and cooking utensils. We all know Mitch loves to cook a good meal and likes having quality cookware :)

        .col-md-4
          .registry-logo
            %a{href: "http://www.potterybarn.com/registry/3573008/registry-list.html", target: "_blank"}
              = image_tag("potterybarn_logo.png")
          %p At Pottery Barn, we've picked out linens and home decor items. We're looking forward to a homey bed set and enough soft towels for our guests!

        .col-md-4
          .registry-logo
            %a{href: "http://www.amazon.com/registry/wedding/1AG8E5HKQY3VI", target: "_blank"}
              = image_tag("amazon_logo.jpg")
          %p Amazon has an array of items from coffee mugs to our coveted Vitamix. We've even highlighted how we can use the items or how they'll complement our simple rustic home decor.
