%section#copyright
  .container
    .row
      .col-md-12
        %h2 Emily & Mitch
    .row
      .col-md-12
        %ul.list-inline.social-icon
          %li
            %a.icon-instagram{"data-placement" => "top", :href => "https://tagboard.com/futurenicks/search", :rel => "tooltip", :title => "Instagram", target: "_blank"}
              %i.fa.fa-instagram
    .row
      .col-md-12
        %p
          Site built by Mitch:
          %a{href: "http://mnwebdev.com/", target: "_blank"} mnwebdev.com
        %p
          Engagement photos courtesy of
          %a{href: "http://www.coppersmithphotography.com/", target: "_blank"} Coppersmith Photography
        %p
          Copyright ©
          = Date.current.year
          All Right Reserved.