%section#home{:style => "background: url(#{image_path("piggyback.jpg")});"}
  = render partial: 'home/flash', locals: {flash: flash}
  .container
    .row
      .col-md-12
      .col-md-6
        %h1 Emily & Mitch
        %h3 Are getting
        %h2
          / %i.fa.fa-heart-o
          HITCHED!
          / %i.fa.fa-heart-o
        %h4 And we are pleased to
        %h4 invite you
        .hidden.text-center
          %button.btn.btn-default.btn-lg.rsvp-button= link_to "RSVP", rsvp_code_path