%section#story
  .container
    .row
      .col-md-12
        %h2 Our Story
        %ul.content
          %li
            %h3.content-avatar.avatar-top
              .img-avatar{:style => "background: url(assets/story11.jpg);"}
            %ul
              %li.content-item.content-text
                %h3 How it started
                .text We met in the most romantic way possible, playing flip cup at the Crooked Pint.
                %time{:datetime => ""}
                  %i.fa.fa-calendar
                  September 15, 2012
              %li.content-item.content-text
                %h3 Our first date
                .text We went to one of the best restaurants in Minneapolis, Bar Lagrasse. We highly recommend all of our guests to check it out when you're in town (just make sure to grab reservations.)
                %time{:datetime => ""}
                  %i.fa.fa-calendar
                  September 19, 2012
              %li.content-item.content-photo
                %h3 So long job...
                %img{:alt => "Peace out Deloitte", :src => "assets/story10.jpg"}
                %p.caption Despite Mitch leaving his fancy consulting job, the girl of his dreams stuck by his side.
                %time{:datetime => ""}
                  %i.fa.fa-calendar
                  December 3, 2012

              %li.content-item.content-photo
                %h3 Meeting the Nick family
                %img{:alt => "Nick Family", :src => "assets/story5.jpg"}/
                %p.caption Em meets Mike and Eileen and goes to her first Packers game.
                %time{:datetime => ""}
                  %i.fa.fa-calendar
                  December 9, 2012

              %li.content-item.content-photo
                %h3 Our first Christmas
                %img{:alt => "Christmas tree", :src => "assets/story3.jpg"}/
                %p.caption Mitch surprises Em and takes her to the Christmas tree. This will be the last Christmas we spend apart.
                %time{:datetime => ""}
                  %i.fa.fa-calendar
                  December 18, 2012

              %li.content-item.content-photo
                %h3 I love you
                %img{:alt => "Hicks", :src => "assets/story4.jpg"}/
                %p.caption This is how we were dressed the first time we told each other "I love you." #stay_classy
                %time{:datetime => ""}
                  %i.fa.fa-calendar
                  January 19, 2013

              %li.content-item.content-photo
                %h3 Meeting the Budde's
                %img{:alt => "Budde's", :src => "assets/story9.jpg"}/
                %p.caption First trip to Cincy. Mitch meets the Buddes and attend NCAA basketball tourney.
                %time{:datetime => ""}
                  %i.fa.fa-calendar
                  March 20, 2013

              %li.content-item.content-text
                %h3 Celebrating 1 year together
                .text We celebrate our one year anniversary with Mitch playing a grand piano and enjoying a delicious meal at Restaurant Alma.
                %time{:datetime => ""}
                  %i.fa.fa-calendar
                  September 20, 2013

              %li.content-item.content-photo
                %h3 Hawaii with the Nicks
                %img{:alt => "Beach living", :src => "assets/story6.jpg"}/
                %p.caption We celebrate the Nick's Anniversary in Hawaii.
                %time{:datetime => ""}
                  %i.fa.fa-calendar
                  March 31, 2014

              %li.content-item.content-photo
                %h3 Badgers vs Wildcats?!
                %img{:alt => "Final four", :src => "assets/story2.jpg"}/
                %p.caption In the final four?? OF COURSE we have to go. Em's team takes down Mitch's, and one day Em will be making a wall decoration to commemorate the event (and forever remind Mitch who the better team was.)
                %time{:datetime => ""}
                  %i.fa.fa-calendar
                  April 5, 2014

              %li.content-item.content-photo
                %h3 The Proposal
                %img{:alt => "Beach living", :src => "assets/proposal_pic.jpg"}/
                %p.caption She said yes!!
                %time{:datetime => ""}
                  %i.fa.fa-calendar
                  July 26, 2014

              %li.content-item.content-photo
                %h3 The dirty thirty
                %img{:alt => "Final four", :src => "assets/story7.jpg"}/
                %p.caption Mitch turns 30 in style with a Back to the 80's Party Bus Brewery Tour.
                %time{:datetime => ""}
                  %i.fa.fa-calendar
                  August 8, 2014


          %li.content-end
            %h3.content-avatar.avatar-end
              .img-avatar{:style => "background: url(assets/ring.jpeg);"}