%section#to-do{:style => "background: url(#{image_path("yellow_room4.jpg")});"}
  .container
    .row
      .col-md-8
        %h1 Things To Do
        .well
          #to-do-activities
            %p.text-center
              Minneapolis is
              %span.underlined packed
              with fun things for you to explore, see and do. We've highlighted several of our favorites below, many of which will be walking distance from your hotel.
            %hr
            %dl.dl-horizontal
              %dt Activities
              %dd
                NE Brewery Tour:
                Ride your bike, rent a Nice Ride bike, or cab it to MN Breweries. Start out at Fulton, Dangerous Man, and Indeed. Mitch did a brewery tour for his 30th bday and we had a blast. Our favorites include Fulton and Dangerous Man Brewery.
              %hr
              %dd
                Twins Game:
                Twins play the Yankees on Friday July 24. Head to Cowboy Jacks beforehand. It's our favorite spot to go to before Twins game. Country music and rooftop bar. You can see Target Field from rooftop.
              %hr
              %dd
                Bike Ride:
                By far our favorite Minnie to do. Minnie is ranked the #1 Bike City in the US. If you're bringing or renting decent bikes, our favorite bike trail is a 10-15 mile loop: from downtown Minnie to the Cedar Lake Greenway, Midtown Greenway, head towards Lake Calhoun, and Lake Harriet. Stop for ice cream and pitcher of beer before biking back downtown.  10-15 mile bike loop
              %hr
              %dd
                Loring Park & Sculpture Garden:
                Favorite walking area. Nice 2.5 mile walking loop. Walk through Loring Park to the Sculpture Garden and see the infamous Spoon and Cherry.
              %hr
              %dd
                Lake Calhoun:
                Rent Nice Ride Bikes or kayaks, or lay at the beach and enjoy a Minnie summer day on Lake Calhoun.
              %hr
              %dd
                Lake Harriet:
                Favorite lake in Minnie. More chill vibe. Beautiful homes and families strolling. Summer concerts and movies are offered everynight and a hit. Bread and Pickle is a good walk up place to order food and pitchers of beer.
              %hr
              %dd
                Corepower Yoga:
                If you've never been to Corepower Yoga, you should take advantage of trying out free yoga. Em enjoys Scuplt (yoga with weights workout) and Mitch likes more traditional yoga (varying levels).
            %hr
            %dl.dl-horizontal
              %dt Dinner / Lunch
              %dd
                Brasa:
                Rated 2014 Minneapolis Best Place to take Out of Town Guests. This is also our go to place for visitors. Melt in your mouth slow cooked pulled pork and chicken. Outside patio. Cincy family and friends- Eli's BBQ would have tough competition. Please note, this is the food we are serving for our rehearsal dinner.
              %hr
              %dd
                Tin Fish:
                Must see destination food stop while renting Nice Ride Bikes. Located right on Lake Calhoun. Walk up and order fish tacos and cold beer.
              %hr
              %dd
                Sea Salt:
                If venturing to Minnehaha Falls, good spot to get fish tacos and ice cream at outside tables. Same idea as Tin Fish. Nice waterfall.
              %hr
              %dd
                Bar La Grassa:
                This was our first date spot. For those that love a good meal, you can't go wrong here. Our favorites include the Charred Red Onion Brushcetta w/ Goat Cheese and Gnocchi with Cauliflower and Orange.
              %hr
              %dd
                112 Eatery:
                One of the top restaurants in the city. Butterscotch Budino (Favorite dessert by far we've had together) and gnocchi are tasty. Good for just wine and dessert too. Willing to spend more for a good meal and experience.
              %hr
              %dd
                Parlor:
                If you're looking for a great burger and cocktail, this place is calling your name. They don't serve a ton of food options, but they're good at what they do.
            %hr
            %dl.dl-horizontal
              %dt Brunch
              %dd
                Moose and Sadies:
                Right next to the TownPlace suites, this is a great local cafe to grab a nice breakfast and some good coffee. Prices are very reasonable.
              %hr
              %dd
                Haute Dish:
                The highest rated brunch place within walking distance to the TownPlace suites.
              %dd
                Hell's Kitchen:
                We love taking out of town guests here. Known for live music on Saturday mornings, Lemon Ricotta Pancakes, Huevos Rancheros, Bloody Marys, and homemade peanut butter.

            %hr
            %dl.dl-horizontal
              %dt Happy Hour
              %dd
                Freehouse:
                Great price happy hour appetizers with beer brewed on location. Offers both indoor and outdoor seating area.
              %hr
              %dd
                Fulton Brewery:
                Mentioned above for favorite activities, this place has a lively happy hour and often features a different food truck parked out front.
              %hr
              %dd
                Butcher and the Boar:
                It's in the city yet you feel so removed. Known for large beer selection and outside beer garden opens at 3pm.
              %hr
              %dd
                Brits Outdoor Rooftop Patio:
                Target Happy hour hot spot. When Gerald visited Minnie, this was the first place he wanted to go because Em talked about always going here for HH. Open lawn bowling on Sat- Sun first come first serve (Noon-11pm). Weekday HH 4:30-6:30pm.

