@import "variables";

// HOME SECTION
#home h1{
  color: $home-text;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2);
}

#home h3{
  color: $home-text;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2);
}

#home h4{
  color: $home-text;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2);
}

#home h3:before, #ceremony h3:before {
  background: $home-text;
}
#home h3:before {
  left: 15%;
}

#home h3:after, #ceremony h3:after {
  background: $home-text;
}

#home h3:after {
  right: 15%;
}

h1 {
  color: $home-text;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.1);
}

#home h5 span, #ceremony h5 span, #contact h5 span {
  background: $grey2;
}


// CEREMONY SECTION

.well {
  background-color: $grey1;
  opacity: 0.9;
}

#guest-in {
  h3 {
    font-family: 'Dancing Script', cursive;
    text-align: left;
    border-bottom: 1px solid white;
  }
  h3:before, h3:after {
    background: none;
  }
}