!!!
%html
  %head
    = render partial: "layouts/header_contents"
  %body#admin
    = render partial: 'layouts/admin_header'
    = render partial: 'shared/flash', locals: {flash: flash}
    #admin-body.row
      .col-xs-12
        = yield