!!!
%html
  %head
    %title Future Nicks - Emily and Mitch's Wedding
    %meta{name: "description", content: "Mitch Nick and Emily Budde get ready to celebrate their wedding on July 25th 2015."}
    %meta{name: "keywords", content: "Mitchell Nick, Mitch Nick, Emily Budde, Emily Nick, Minneapolis Wedding, Minneaoplis Web Developer Wedding"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}

    %link{:href => "http://fonts.googleapis.com/css?family=Dancing+Script:700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=EB+Garamond", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:900", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBSk93K-AFD5AMNA--mtmn4GB_voGjWvyc", :type => "text/javascript"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Dancing+Script:700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=EB+Garamond", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:900", :rel => "stylesheet", :type => "text/css"}/
    %link{:rel=>"icon", :type=>"image/png", :href=>"assets/favicon-16x16.png", :sizes=>"16x16"}
    %link{:rel=>"icon", :type=>"image/png", :href=>"assets/favicon-32x32.png", :sizes=>"32x32"}
    %link{:rel=>"icon", :type=>"image/png", :href=>"assets/favicon-72x72.png", :sizes=>"72x72"}
  %body{"data-spy" => "scroll", "data-target" => ".navbar-default"}
    = yield